.App{
  display: flex;
  flex-direction: column;
  font-family: OpenSans,Arial,sans-serif;
  font-size:1.1em;
  align-items: center;
  margin-bottom: 2em
  
}

nav{
  display:flex;
  flex-direction:row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center
  
}
header{
  width: -webkit-fill-available;
  position: fixed;
  background:white
}

.topLogo{
      margin-right: 5em;
      height:3.5em
}

nav a{
  text-decoration: none;
  color: black;
  font-size:1.1em;
  font-weight: 600;
  margin:1em;
  display: inline-block
}