body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Typography */

p {
  margin: 0;
  padding: 0;
}

.form-desc {
  text-align: center;
  padding: 2em 1em;
}

label {
  font-family: "Markazi", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
}

.title {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 77px;
  letter-spacing: 0em;
  text-align: left;
  color: #f4ce14;
  margin: 0;
}

.subtitle {
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48.01px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin: 0;
}

.desc {
  color: #ffffff;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.menu-title {
  color: #000000;
}

.nav-item {
  color: #040404;
  font-weight: 600;
  text-decoration: inherit;
  font-family: "Markazi", sans-serif;
}

.item-name,
.reviewer-name {
  font-family: "Markazi", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.confirmed-title {
  text-align: center;
}

.confirmed-subtitle {
  color: #000000;
  text-align: center;
  max-width: 600px;
  width: 50%;
}

.item-price,
.reviewer-rating {
  font-family: Karla;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #ee9972;
}

.item-desc,
.review-text {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  padding-bottom: 2em;
}

.delivery {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  bottom: 0.6em;
}

.testimonials-title {
  font-family: "Markazi Text", serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  margin-bottom: 1em;
  text-align: center;
  color: #f4ce14;
}

.desc-title {
  color: #000000;
  font-size: 60px;
  font-weight: 700;
  font-family: "Markazi Text", serif;
  display: block;
  margin-bottom: 10px;
  
}

.desc-subtitle {
  color: #333333;
  font-size: 30px;
  margin-top: 2;
  font-family: "Markazi Text", serif;
  display: block;

 
}

.desc-text {
  font-family: Karla;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.7em;
  letter-spacing: 0em;
  text-align: justified;
  color: #000000;
  display: block;
 
}

footer {
  font-family: "Karla", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #edefee;
}

/* Layout */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  width: 100%;
  height: 4em;
  background-color: #edefee;
}

nav {
  display: flex;
  gap: 1em;
  position: relative;
}

.mobile-nav {
  display: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.footer-item {
  color: #040404;
  font-weight: 400;
  text-decoration: inherit;
  font-size: 18px;
}

form {
  background-color: #faecdc;
  width: 65%;
  margin-inline: auto;
  text-align: center;
  padding: 2em 1em;
  margin-bottom: 1.5em;
  border-radius: 20px;
}

.seperate {
  display: block;
  margin-top: 1em;
}

.seperate-child {
  display: inline-block;
}

.submit {
  margin-top: 1.5em;
  padding: 1em 1.5em;
  cursor: pointer;
}

input[type="date"],
input[type="text"],
input[type="number"],
select {
  color: #333;
  background-color: #f7f7f7;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin-inline: 0.5em;
}

.hero {
  background-color: #495e57;
}

.img-wrapper {
  right: 2em;
  max-width: 250px;
  max-height: 275px;
  align-self: flex-end;
  margin-bottom: -1em;
  flex-basis: 1;
}

.hero-img {
  width: 100%;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.hero-desc {
  width: 34%;
  padding: 2em;
  flex-basis: 1;
}

.menu {
  padding-block: 2em;
}

.menu-desc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.menu-img,
.reviewer-img {
  width: 100%;
  border-radius: 16px 16px 0 0;
}

.menu-img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.cards,
.testimonials {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: stretch;
  justify-content: center;
}

.card,
.testimonial {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 1em;
}

.card {
  background-color: #edefee;
  border-radius: 16px;
  position: relative;
}

.testimonial {
  background-color: #edefee;
  border-radius: 16px;
  position: relative;
}

.name-price,
.name-rating {
  display: flex;
  justify-content: space-between;
}

.confirmed-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding-block: 2em;
}

.name-price,
.item-desc,
.delivery,
.name-rating,
.reviewer-name,
.review-text {
  padding-inline: 1em;
}

.restaurant-desc-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 2em;
  gap: 2em;
}

.desc-img {
  max-width: 100%;
  float: right;
  border-radius: 16px;
  margin-bottom: 15em;
  padding-bottom: 10px;
  margin-left: -4.5em;
  height: 20em;
  object-fit: cover;
  width: 20em;
}

.testimonials-parent {
  padding-block: 2em;
  background-color: #495e57;
}

.about {
  display: flex;
  height: auto;
  padding: 3em 0;
  width: 100%;
  margin-left: 22em;
}

.about-content {
  margin-left: 7em;
  margin-right: 5em;
  width: 40%;
}

.desc-pharagraph {
  max-width: 70%;
}


.owners {
  width: 50%;
  display: block;
  margin-right: 20em;
}

.chefs, 
.restaurant {
  height: 60%;
  box-shadow: 3px 3px 15px rgba(0,0,0,.2);
}

.chefs {
  margin-left: 10em;
  margin-top: 1em;
  width: 50%;
}

.restaurant {
  margin-left: 2em;
  margin-top: -10em;
  width: 40%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
  padding-block: 1em;
  width: 100vw;
  height: 10%;
}

.footer-content {
  display: flex;
  gap: 2em;
}

.footer-nav,
.footer-contact,
.footer-social {
  display: flex;
  flex-direction: column;
}

.footer-head {
  font-weight: 600;
  margin-bottom: 0.6em;
}

/* Buttons */

.btn,
.submit {
  background-color: #f4ce14;
  border: none;
  outline: none;
  border-radius: 16px;
  font-family: "Roboto", sans-serif;
  color: #040404;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  padding: -0.7em;
  cursor: pointer;
}

.reserve-btn {
  margin-top: 1em;
}

.btn {
  padding: 1em;
}

.reserve {
  text-decoration: none;
  font-size: 18px;
}

/* Media queries */
@media (max-width: 822px) {
  .title {
    font-size: 50px;
    line-height: 60px;
  }

  .subtitle {
    font-size: 32px;
    line-height: 40px;
  }

  .desc,
  .btn {
    font-size: 16px;
  }

  .img-wrapper {
    max-width: 200px;
    max-height: 260px;
    align-self: flex-end;
    margin-bottom: -1em;
  }
}

@media (max-width: 800px) {
  nav {
    display: none;
  }

  .mobile-nav {
    display: block;
    cursor: pointer;
  }

  .nav {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    z-index: 100;
    position: absolute;
    top: 3.5em;
    border-radius: 5px;

    transition: all 1s ease-in-out;
  }

  .nav.active {
    height: 75%;
    padding: 1em 2em;
  }

  .nav-item {
    display: block;
    margin: 1rem 0;
  }

  form {
    width: 80%;
  }

  .btn {
    padding: 0.8em;
  }

  footer {
    gap: 2em;
  }

  .footer-head {
    font-size: 16px;
  }

  .footer-item {
    font-size: 15px;
  }
}

@media (max-width: 650px) {
  .title {
    font-size: 45px;
    line-height: 50px;
  }

  .subtitle {
    font-size: 28px;
    line-height: 35px;
  }

  .hero-content {
    gap: 2em;
  }

  .hero-desc {
    padding: 1em;
  }

  .restaurant-desc {
    display: grid;
    grid-template-rows: auto;
    gap: 4em;
    margin: 5em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

 

  .cards,
  .testimonials {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 60%;
  }

  .confirmed-main {
    height: calc(100vh - 216px);
  }

  .img-wrapper {
    max-width: 160px;
  }

  label {
    font-size: 18px;
    line-height: 18px;
  }

  .date-time,
  .guests-occasion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .footer-content {
    flex-direction: column;
    gap: 1em;
    width: 70%;
  }

  .footer-nav,
  .footer-contact,
  .footer-social {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.7em;
  }

  footer {
    gap: 1em;
    padding: 1em;
  }
}

@media (max-width: 600px) {
  input[type="date"],
  input[type="text"],
  input[type="number"],
  select {
    padding: 6px;
    font-size: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-inline: 0.5em;
  }
}

@media (max-width: 580px) {
  .title {
    font-size: 40px;
    line-height: 40px;
  }

  .subtitle {
    font-size: 25px;
    line-height: 30px;
  }

  .desc-img {
    width: 160px;
  }

  .restaurant-desc-parent {
    gap: 1em;
  }

  .footer-content {
    gap: 0.5em;
  }
}

@media (max-width: 510px) {
  .title {
    font-size: 35px;
    line-height: 35px;
  }

  .subtitle {
    font-size: 20px;
    line-height: 25px;
  }

  .desc,
  .btn {
    font-size: 12px;
  }

  .img-wrapper {
    max-width: 140px;
  }

  .hero-desc {
    padding-inline: 0.5em;
  }

  .restaurant-desc-parent {
    flex-direction: column-reverse;
  }

  .footer-nav,
  .footer-contact,
  .footer-social {
    gap: 0.5em;
  }
}

@media (max-width: 450px) {
  .title {
    font-size: 30px;
    line-height: 30px;
  }

  .subtitle {
    font-size: 20px;
    line-height: 25px;
  }

  .desc,
  .btn {
    font-size: 12px;
  }

  .img-wrapper {
    max-width: 120px;
  }

  footer {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .card {
    width: 80%;
  }

  .menu-desc {
    gap: 1em;
    padding-inline: 1em;
  }
}
